.WorkingInformation{
    background-color:#FFFFFF ;
    background-image:url('./../../img/trr.png') ;
    background-size: 900px 1100px;
    background-repeat: no-repeat;
    width: 70%;
    background-position:  bottom left;
   
}

.NameTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head{
    height: 250px;
    background-color:#A07086;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 80px;

}

.name{
    /* font-family: 'Cantata One', serif; */
    font-size: 66px;
    color: white;
    margin-top: 10px;
    text-shadow: 7px 2px 5px black;
    
}


.bird{
    height: 160px;
    transform: scale(-1, 1) rotate(-5deg);
    margin-left: 5%;
    opacity: .7;
    
    filter: drop-shadow(2px 12px 7px rgba(216, 210, 210, 0.5));
}

.position{
    font-size: 30px;
    color: black;
    margin-top: 20px;
    text-shadow: 1px 1px 5px rgb(238, 234, 234);
}

.ProfSkills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.weather{
    height: 300px;
    width: 560px;
    border-radius: 20px;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 5px rgb(85, 75, 75);
}
.myProj{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-left: 15px;
    margin-left: 10px;

}
.myProj a{
    text-decoration: none;
    color:black
}
.projTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center
}
.icon{
    width: 25px;
margin-left: 20px;
   
}
.titleProj{
    font-weight: bold;
    font-size: 28px;
    /* margin-left: 30%; */
    margin-bottom: 10px;
}

.descriptionApp{
    display: flex;
     align-items: center;
    justify-content: center;
    font-size: 22px;
    text-align: justify;

}
.todo{
    height: 300px;
    width: 600px;

}
.contentWrapper{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 50px;
}

.italic{
    font-style:italic;
    color:#686868;
}